:root {
  --head-font-family: "Playfair Display", serif;
  --body-font-family: "Poppins", sans-serif;
  --primary-colour: #272142;
  --secondary-color: #6c63ff;
}
body {
  font-family: var(--body-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--head-font-family);
}
.project-description h2 {
  text-align: center;
  font-size: 64px;
}
p {
  color: var(--primary-colour);
  font-size: 18px;
  line-height: 30px;
}
.opening-page {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}
.opening-page p {
  font-size: 36px;
  color: var(--primary-colour);
  margin: 0;
}
.opening-page h1 {
  font-size: 96px;
}
.opening-page h2 {
  color: var(--primary-colour);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  margin: 24px 49px;
}
.btn-branding {
  background-color: var(--secondary-color);
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 18px 30px;
  line-height: 27px;
}

#button-link {
  font-size: 16px;
  background-color: white;
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 4px;
  padding: 18px 30px;
  line-height: 27px;
  border: 1px solid var(--secondary-color);
}
.project-description {
  padding: 120px 60px;
  margin-bottom: 0;
}
.content-page {
  padding: 160px 20px;
}
.occupation {
  color: var(--primary-colour);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.content-page h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 20px;
}
.content-page img {
  width: 603px;
  height: 904px;
}
.content-page-content {
  margin: 30px;
}
.base {
  text-align: center;
  font-family: var(--body-font-family);
}
.base p {
  color: rgba(39, 33, 66, 0.7);
  opacity: 70%;
}
nav {
  padding: 20px 0;
}
nav img {
  line-height: 40px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
  line-height: 24px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 150ms ease-in;
}
nav a:hover,
nav li:active a,
footer a:hover {
  color: var(--secondary-color);
}
footer .footer-contact {
  background-color: #f9f7fe;
  padding: 30px 100px;
  border-radius: 10px;
}
.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
i {
  color: var(--secondary-color);
  background: #f9f7fe;
  border-radius: 50%;
  padding: 12px;
  font-size: 18px;
  opacity: 95%;
  margin-left: 38px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 12px;
  }
  .opening-page {
    padding: 80px 10px;
  }
  .content-page {
    padding: 0;
    text-align: center;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  nav a {
    font-size: 12px;
  }
  h3 {
    font-size: 14px;
  }
  footer .footer-contact {
    padding: 10px;
  }
  .footer-contact p {
    font-size: 14px;
  }
}
